Repository cumt-robin/fullstack-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter webpack-vue3 lint-fix, pnpm --filter webpack-vue3 lint-style-fix, pnpm --filter vite-vue3 lint-fix, pnpm --filter vite-vue3 lint-style-fix, pnpm --filter backend lint-fix

chore: nodejs 版本修改为 20，支持 vite 新版本
  Dockerfile
  Dockerfile.dev
  README.md
  app/cra-react18/src/index.tsx
  app/express-server/.env
  app/express-server/process-dev.json
  app/vite-react19/.gitignore
  app/vite-react19/README.md
  app/vite-react19/eslint.config.js
  app/vite-react19/index.html
  app/vite-react19/package.json
  app/vite-react19/public/vite.svg
  app/vite-react19/src/App.css
  app/vite-react19/src/App.tsx
  app/vite-react19/src/assets/react.svg
  app/vite-react19/src/index.css
  app/vite-react19/src/main.tsx
  app/vite-react19/tsconfig.app.json
  app/vite-react19/tsconfig.json
  app/vite-react19/tsconfig.node.json
  app/vite-react19/vite.config.ts
  compose-dev.yml
  package.json
  pnpm-lock.yaml
Due: none

Update README to mark Vite + React19 as completed
  README.md
Due: none

fix: 新建文章时选择私密无效
  .changeset/dirty-cups-whisper.md
  app/express-server/src/controllers/article.js
  app/express-server/src/sql/article.js
  app/nest-server/src/entities/Article.ts
  app/nest-server/src/modules/article/article.service.spec.ts
  app/nest-server/src/modules/article/article.service.ts
  app/nest-server/src/modules/article/dto/article.dto.ts
Due: none

feat(vite-vue3): pwa 支持
  .changeset/fluffy-humans-change.md
  .github/workflows/express-server.yml
  .github/workflows/webpack-vue3.yml
  README.md
  app/vite-vue3/.gitignore
  app/vite-vue3/index.html
  app/vite-vue3/package.json
  app/vite-vue3/public/apple-touch-icon-180x180.png
  app/vite-vue3/public/favicon.ico
  app/vite-vue3/public/icon.svg
  app/vite-vue3/public/maskable-icon-512x512.png
  app/vite-vue3/public/pwa-192x192.png
  app/vite-vue3/public/pwa-512x512.png
  app/vite-vue3/public/pwa-64x64.png
  app/vite-vue3/src/main.ts
  app/vite-vue3/src/plugins/pwa/index.ts
  app/vite-vue3/src/vite-env.d.ts
  app/vite-vue3/vite.config.ts
  pnpm-lock.yaml
Due: pnpm --filter vite-vue3 lint-fix

feat(vite-vue3): 支持复制博客内容追加版权信息
  .changeset/olive-worms-relax.md
  app/vite-vue3/src/views/article/index.vue
Due: pnpm --filter vite-vue3 lint-fix, pnpm --filter vite-vue3 lint-style-fix

test(utils): 新增jest单元测试
  .changeset/violet-baboons-marry.md
  .gitignore
  packages/utils/.eslintignore
  packages/utils/jest.config.js
  packages/utils/jest.dom.config.js
  packages/utils/jest.setup.js
  packages/utils/package.json
  packages/utils/src/bom.dom.test.ts
  packages/utils/src/date-utils.test.ts
  packages/utils/src/date-utils.ts
  packages/utils/src/dom.dom.test.ts
  packages/utils/src/dom.ts
  packages/utils/src/formatter.test.ts
  packages/utils/src/helper.test.ts
  packages/utils/src/helper.ts
  packages/utils/src/tree.test.ts
  packages/utils/src/tree.ts
  packages/utils/src/type.test.ts
  packages/utils/src/type.ts
  packages/utils/src/validator.test.ts
  packages/utils/src/validator.ts
  pnpm-lock.yaml
Due: none

test(utils): 测试用例优化
  .changeset/stale-kangaroos-hope.md
  packages/utils/src/dom.dom.test.ts
  packages/utils/src/formatter.test.ts
Due: none

refactor(nest-server): 数据库表设计优化
  .changeset/dull-flies-yawn.md
  README.md
  app/nest-server/README.md
  app/nest-server/data-source.ts
  app/nest-server/package.json
  app/nest-server/scripts/create-migration.ts
  app/nest-server/src/app.module.ts
  app/nest-server/src/entities/Article.ts
  app/nest-server/src/entities/ArticleCategory.ts
  app/nest-server/src/entities/ArticleTag.ts
  app/nest-server/src/entities/Authority.ts
  app/nest-server/src/entities/Banner.ts
  app/nest-server/src/entities/Category.ts
  app/nest-server/src/entities/Comments.ts
  app/nest-server/src/entities/Reply.ts
  app/nest-server/src/entities/Role.ts
  app/nest-server/src/entities/RoleAuth.ts
  app/nest-server/src/entities/Tag.ts
  app/nest-server/src/entities/User.ts
  app/nest-server/src/migrations/.gitkeep
  app/nest-server/src/migrations/20260307114624-AddTimestampColumnsToAllTables.ts
  app/nest-server/src/modules/article/article.service.ts
  pnpm-lock.yaml
Due: none

fix(nest-server): 加了scripts目录导致dist结构变化，修复此问题
  .changeset/fix-dir.md
  app/nest-server/process-docker-prod.json
Due: none

test(vite-vue3): playwright e2e 测试
  .changeset/curly-trees-reflect.md
  .github/workflows/nest-server.yml
  .github/workflows/vite-vue3.yml
  README.md
  app/vite-vue3/.gitignore
  app/vite-vue3/package.json
  app/vite-vue3/playwright.config.ts
  app/vite-vue3/tests/core.spec.ts
  app/vite-vue3/tsconfig.node.json
  package.json
  pnpm-lock.yaml
Due: none

feat: 实现TOC目录导航功能
  .changeset/hip-countries-raise.md
  .github/workflows/vite-vue3.yml
  AGENTS.md
  README.md
  app/nest-server/package.json
  app/nest-server/src/entities/Article.ts
  app/nest-server/src/entities/ArticleOutline.ts
  app/nest-server/src/migrations/20260308141729-AddArticleOutline.ts
  app/nest-server/src/modules/article/article.controller.spec.ts
  app/nest-server/src/modules/article/article.module.ts
  app/nest-server/src/modules/article/article.service.ts
  app/nest-server/src/modules/article/dto/article.dto.ts
  app/nest-server/src/modules/category/category.controller.spec.ts
  app/nest-server/src/modules/category/category.service.spec.ts
  app/nest-server/src/modules/comment/comment.controller.spec.ts
  app/nest-server/src/modules/comment/comment.service.spec.ts
  app/nest-server/src/modules/reply/reply.controller.spec.ts
  app/nest-server/src/modules/reply/reply.service.spec.ts
  app/nest-server/src/modules/tag/tag.controller.spec.ts
  app/nest-server/src/modules/tag/tag.service.spec.ts
  app/nest-server/src/modules/user/user.controller.spec.ts
  app/nest-server/src/modules/user/user.service.spec.ts
  app/nest-server/src/modules/validator/validator.controller.spec.ts
  app/nest-server/src/modules/validator/validator.service.spec.ts
  app/nest-server/test/app.e2e-spec.ts
  app/vite-vue3/src/components/article-toc/index.vue
  app/vite-vue3/src/views/article/index.vue
  app/vite-vue3/src/views/backend/write/index.vue
  packages/types/src/dto.ts
  pnpm-lock.yaml
Due: pnpm --filter vite-vue3 lint-fix, pnpm --filter vite-vue3 lint-style-fix

fix: toc 目录功能 ci actions 修复
  .changeset/clean-pants-try.md
  .github/workflows/nest-server.yml
  .github/workflows/vite-vue3.yml
Due: none

fix: build deploy报错问题
  .changeset/lovely-days-hide.md
  .github/workflows/vite-vue3.yml
  app/nest-server/README.md
  app/nest-server/package.json
  app/nest-server/process-docker-prod.json
  app/nest-server/src/app.module.ts
  app/nest-server/src/data-source.ts
  app/nest-server/src/scripts/create-migration.ts
Due: none

fix: 解决nest-server migration问题
  .changeset/spotty-owls-enjoy.md
  app/nest-server/src/app.module.ts
  app/nest-server/src/migrations/20260308141729-AddArticleOutline.ts
Due: none

fix: e2e测试单独拆分
  .changeset/brown-rivers-rush.md
  .github/workflows/vite-vue3-e2e.yml
  .github/workflows/vite-vue3.yml
  app/vite-vue3/playwright.config.ts
Due: none

fix(vite-vue3): vite8升级，service worker 缓存优化
  .changeset/lazy-terms-yell.md
  app/vite-vue3/package.json
  app/vite-vue3/src/components/article-toc/index.vue
  app/vite-vue3/src/views/article/index.vue
  app/vite-vue3/vite.config.ts
  pnpm-lock.yaml
Due: pnpm --filter vite-vue3 lint-fix, pnpm --filter vite-vue3 lint-style-fix

feat(vite-vue3): 支持ci环境下执行e2e测试
  .changeset/flat-rules-drive.md
  .github/workflows/vite-vue3-e2e.yml
  CLAUDE.md
  app/vite-vue3/.env.preview
  app/vite-vue3/package.json
  app/vite-vue3/playwright.config.ts
  app/vite-vue3/tests/core.spec.ts
  app/vite-vue3/vite.config.ts
  pnpm-lock.yaml
Due: none

feat(push): add web push notification flow
  .changeset/20260402004909-add-web-push-subscription-support-for-article-notifications.md
  app/nest-server/ENV.md
  app/nest-server/package.json
  app/nest-server/src/app.module.ts
  app/nest-server/src/entities/PushSubscription.ts
  app/nest-server/src/entities/UserSession.ts
  app/nest-server/src/guards/auth.guard.ts
  app/nest-server/src/migrations/20260324093000-AddPushSubscriptionTable.ts
  app/nest-server/src/migrations/20260331090000-AddUserSessionAndPushDeviceId.ts
  app/nest-server/src/modules/article/article.module.ts
  app/nest-server/src/modules/article/article.service.ts
  app/nest-server/src/modules/common/auth.service.ts
  app/nest-server/src/modules/push-subscription/dto/push-subscription.dto.ts
  app/nest-server/src/modules/push-subscription/push-subscription.controller.ts
  app/nest-server/src/modules/push-subscription/push-subscription.module.ts
  app/nest-server/src/modules/push-subscription/push-subscription.service.ts
  app/nest-server/src/modules/user-session/user-session.module.ts
  app/nest-server/src/modules/user-session/user-session.service.ts
  app/nest-server/src/modules/user/user.controller.ts
  app/nest-server/src/modules/user/user.module.ts
  app/nest-server/src/modules/user/user.service.ts
  app/vite-vue3/public/sw-push.js
  app/vite-vue3/src/main.ts
  app/vite-vue3/src/plugins/push/index.ts
  app/vite-vue3/src/stores/auth.ts
  app/vite-vue3/src/views/home/index.vue
  app/vite-vue3/src/vite-env.d.ts
  app/vite-vue3/vite.config.ts
  packages/services/.eslintrc.cjs
  packages/services/src/core/device-id.ts
  packages/services/src/core/index.ts
  packages/services/src/core/request.ts
  packages/services/src/index.ts
  packages/services/src/push-subscription.ts
  packages/services/src/user.ts
  packages/types/src/dto.ts
  packages/types/src/xhr.ts
  pnpm-lock.yaml
  push-ops.md
Due: pnpm --filter vite-vue3 lint-fix, pnpm --filter vite-vue3 lint-style-fix

Path conditions:
  pnpm --filter webpack-vue3 lint-fix: any of: app/webpack-vue3/src/**/*.{js,mjs,jsx,ts,tsx,vue}
  pnpm --filter webpack-vue3 lint-style-fix: any of: app/webpack-vue3/src/**/*.{css,less,scss,vue}
  pnpm --filter vite-vue3 lint-fix: any of: app/vite-vue3/src/**/*.{js,mjs,jsx,ts,tsx,vue}
  pnpm --filter vite-vue3 lint-style-fix: any of: app/vite-vue3/src/**/*.{css,less,scss,vue}
  pnpm --filter backend lint-fix: any of: app/backend/src/**/*.js
