Repository cumt-robin/fullstack-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix

chore: 临时提交
  .changeset/happy-chefs-mix.md
  .github/workflows/release.yml
  package.json
Due: none

chore: 引入 cz
  .changeset/README.md
  .github/workflows/release.yml
  .npmrc
  README.md
  package.json
  pnpm-lock.yaml
Due: none

ci(release): ci config 修改
  .changeset/real-horses-promise.md
  .github/workflows/release.yml
  package.json
Due: none

ci(release): 修改 release yml
  .github/workflows/release.yml
Due: none

ci: Update release.yml
  .github/workflows/release.yml
Due: none

ci: 修改 ci
  .changeset/seven-rings-return.md
Due: none

chore: 修改 version
  package.json
Due: none

ci(release): ci 脚本名冲突
  .github/workflows/release.yml
  package.json
Due: none

chore: update changeset config
  .changeset/config.json
Due: none

feat: 创作时支持分类模糊搜索
  .changeset/five-dragons-do.md
  .lintstagedrc
  app/backend/src/controllers/category.js
  app/backend/src/sql/category.js
  app/frontend/package.json
  app/frontend/src/services/category.ts
  app/frontend/src/views/backend/write/index.vue
Due: eslint --cache --fix, stylelint --cache --fix

feat: 创作时支持 tag 自动补全
  .changeset/neat-rats-lick.md
  .github/workflows/release.yml
  .lintstagedrc
  app/backend/src/controllers/tag.js
  app/backend/src/permissions/auth.js
  app/backend/src/sql/tag.js
  app/frontend/src/services/tag.ts
  app/frontend/src/views/backend/write/index.vue
Due: eslint --cache --fix, stylelint --cache --fix

build: docker prod 配置
  Dockerfile
  app/backend/deploy.config.example.js
  app/backend/ecosystem.config.js
  app/frontend/nginx/default.conf
  app/frontend/package.json
  compose-prod-local.yml
  compose.yml
  docker-ops.md
  docker/Dockerfile.backend.dev
  docker/Dockerfile.frontend.dev
  nginx/default.conf
  package.json
Due: none

ci: monorepo ci/cd docker 流程
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .vscode/extensions.json
  Dockerfile
  app/backend/README.Docker.md
  app/backend/README.md
  app/backend/config/dev.env.example.js
  app/backend/config/env.example.js
  app/backend/config/prod.env.example.js
  app/backend/process-docker-dev.json
  compose-dev.yml
  compose-prod-local.yml
  compose.yml
  docker-ops.md
  legacy-ops.md
  nginx/default.conf.template
Due: none

docs: readme
  README.md
Due: none

feat: 文章中打开外链时跳到中间页
  app/frontend/src/views/article/index.vue
  app/frontend/src/views/jumpout/index.vue
Due: eslint --cache --fix, stylelint --cache --fix

feat: 文章中打开外链时跳到中间页
  .changeset/nice-boxes-cross.md
  README.md
  app/frontend/src/views/article/index.vue
  app/frontend/src/views/jumpout/index.vue
Due: eslint --cache --fix, stylelint --cache --fix

feat: 文章内图片站内预览查看
  .changeset/cool-parrots-fix.md
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  app/frontend/src/views/article/index.vue
  app/frontend/src/views/article/md-render.scss
  build-dev-images.sh
  compose-dev.yml
Due: eslint --cache --fix, stylelint --cache --fix

Create improve
  .github/ISSUE_TEMPLATE/improve
Due: none

Rename improve to improve.md
  .github/ISSUE_TEMPLATE/improve.md
Due: none

feat: 支持 mermaid 图表
  .changeset/lucky-jeans-sort.md
  .github/workflows/release.yml
  app/frontend/.eslintrc.cjs
  app/frontend/babel.config.js
  app/frontend/package.json
  app/frontend/src/utils/bom.ts
  app/frontend/src/views/article/index.vue
  app/frontend/src/views/backend/write/index.vue
  app/frontend/vue.config.docker.js
  app/frontend/vue.config.js
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --cache --fix

chore: 修改分支信息
  .changeset/config.json
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .github/workflows/release.yml
Due: none

ci: 生产环境 docker 调整
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  compose.yml
  docker-ops.md
  legacy-ops.md
Due: none

docs: issue模板 [skip ci]
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/improve.md
Due: none

fix(article): 文章相关查询参数校验
  .changeset/serious-eagles-refuse.md
  app/backend/src/controllers/article.js
Due: eslint --cache --fix

fix: backend docker 采用 pm2-runtime 部署
  .changeset/bright-squids-appear.md
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  Dockerfile
  app/backend/package.json
  app/backend/process-docker-prod.json
Due: none

fix: 引入 express-validator 做参数校验
  .changeset/empty-mice-sniff.md
  app/backend/package.json
  app/backend/src/app.js
  app/backend/src/controllers/article.js
  app/backend/src/controllers/category.js
  app/backend/src/controllers/comment.js
  app/backend/src/controllers/user.js
  app/backend/src/utils/db.js
  app/backend/src/utils/validate.js
  pnpm-lock.yaml
Due: eslint --cache --fix

fix(category): category Controller 参数校验完善
  .changeset/wet-maps-teach.md
  .github/workflows/backend.yml
  .github/workflows/release.yml
  app/backend/src/controllers/category.js
Due: eslint --cache --fix

fix(tag): tag Controller 参数校验完善
  .changeset/tough-poems-accept.md
  .github/workflows/release.yml
  README.md
  app/backend/src/controllers/tag.js
  app/backend/src/utils/db.js
Due: eslint --cache --fix

chore: version packages
  .changeset/tough-poems-accept.md
  .changeset/wet-maps-teach.md
  app/backend/CHANGELOG.md
  app/backend/package.json
Due: none

Path conditions:
  eslint --cache --fix: any of: app/**/src/**/*.{js,mjs,jsx,ts,tsx,vue}
  stylelint --cache --fix: any of: app/**/src/**/*.{css,less,scss,vue}
