Repository cumt-robin/fullstack-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter frontend lint-fix, pnpm --filter frontend lint-style-fix, pnpm --filter vite-vue3 lint-fix, pnpm --filter vite-vue3 lint-style-fix, pnpm --filter backend lint-fix

chore: version packages
  .changeset/tough-poems-accept.md
  .changeset/wet-maps-teach.md
  app/backend/CHANGELOG.md
  app/backend/package.json
Due: none

fix(comment): comment controller 参数校验修改
  .changeset/kind-owls-drop.md
  .github/workflows/frontend.yml
  .github/workflows/release.yml
  app/backend/src/controllers/comment.js
  app/vite-vue3/src/components/HelloWorld.vue
  app/vite-vue3/src/views/article/comments.vue
Due: pnpm --filter vite-vue3 lint-fix, pnpm --filter vite-vue3 lint-style-fix, pnpm --filter backend lint-fix

fix(reply): reply controller 参数校验修改
  .changeset/slimy-pears-press.md
  .github/workflows/release.yml
  app/backend/src/controllers/comment.js
  app/backend/src/controllers/reply.js
  app/vite-vue3/src/components/card/card-comment.vue
  app/vite-vue3/src/style.css
Due: pnpm --filter vite-vue3 lint-fix, pnpm --filter vite-vue3 lint-style-fix, pnpm --filter backend lint-fix

fix(user): user Controller 参数校验完善
  .changeset/sixty-flies-matter.md
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  app/backend/src/controllers/user.js
Due: pnpm --filter backend lint-fix

fix: 部分校验bug修复
  .changeset/wise-penguins-tease.md
  .github/workflows/frontend.yml
  app/backend/src/controllers/category.js
  app/backend/src/controllers/tag.js
  app/frontend/src/bean/xhr.ts
  app/frontend/src/components/card/card-comment.vue
  app/frontend/src/views/article/comments.vue
  app/frontend/src/views/categories/index.vue
  app/frontend/src/views/tags/index.vue
  app/vite-vue3/src/bean/xhr.ts
  app/vite-vue3/src/components/card/card-comment.vue
  app/vite-vue3/src/views/categories/index.vue
  app/vite-vue3/src/views/tags/index.vue
Due: pnpm --filter frontend lint-fix, pnpm --filter frontend lint-style-fix, pnpm --filter vite-vue3 lint-fix, pnpm --filter vite-vue3 lint-style-fix, pnpm --filter backend lint-fix

fix: vite-vue3项目百度统计代码
  .changeset/wild-walls-battle.md
  app/vite-vue3/.eslintignore
  app/vite-vue3/index.html
  app/vite-vue3/public/js/hm.js
Due: none

fix(comment): comment page id 参数校验bug
  .changeset/ninety-years-guess.md
  app/backend/src/controllers/comment.js
Due: pnpm --filter backend lint-fix

chore: 增加 robots.txt 配置
  app/vite-vue3/public/robots.txt
Due: none

Create ninety-crabs-move.md
  .changeset/ninety-crabs-move.md
Due: none

chore: 更新 lock 文件
  .changeset/twenty-garlics-juggle.md
  pnpm-lock.yaml
Due: none

chore(nginx): nginx backend 引用错误
  .changeset/fluffy-kiwis-explode.md
  .github/workflows/release.yml
  nginx/default.conf.template
Due: none

feat: 引入react18项目
  README.md
  app/cra-react18/.gitignore
  app/cra-react18/README.md
  app/cra-react18/package.json
  app/cra-react18/public/favicon.ico
  app/cra-react18/public/index.html
  app/cra-react18/public/logo192.png
  app/cra-react18/public/logo512.png
  app/cra-react18/public/manifest.json
  app/cra-react18/public/robots.txt
  app/cra-react18/src/App.css
  app/cra-react18/src/App.js
  app/cra-react18/src/App.test.js
  app/cra-react18/src/index.css
  app/cra-react18/src/index.js
  app/cra-react18/src/logo.svg
  app/cra-react18/src/reportWebVitals.js
  app/cra-react18/src/setupTests.js
  package.json
  pnpm-lock.yaml
Due: none

fix: linter引入，部分依赖引入
  README.md
  app/cra-react18/.env
  app/cra-react18/.env.production
  app/cra-react18/.eslintignore
  app/cra-react18/.eslintrc.cjs
  app/cra-react18/.stylelintrc.cjs
  app/cra-react18/config/env.js
  app/cra-react18/config/getHttpsConfig.js
  app/cra-react18/config/jest/babelTransform.js
  app/cra-react18/config/jest/cssTransform.js
  app/cra-react18/config/jest/fileTransform.js
  app/cra-react18/config/modules.js
  app/cra-react18/config/paths.js
  app/cra-react18/config/webpack.config.js
  app/cra-react18/config/webpack/persistentCache/createEnvironmentHash.js
  app/cra-react18/config/webpackDevServer.config.js
  app/cra-react18/package.json
  app/cra-react18/public/favicon.ico
  app/cra-react18/public/index.html
  app/cra-react18/public/logo192.png
  app/cra-react18/public/logo512.png
  app/cra-react18/public/manifest.json
  app/cra-react18/scripts/build.js
  app/cra-react18/scripts/start.js
  app/cra-react18/scripts/test.js
  app/cra-react18/src/App.css
  app/cra-react18/src/App.js
  app/cra-react18/src/App.test.js
  app/cra-react18/src/index.css
  app/cra-react18/src/index.js
  app/cra-react18/src/index.tsx
  app/cra-react18/src/reportWebVitals.js
  app/cra-react18/src/setupTests.js
  app/cra-react18/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: none

fix: 临时提交
  app/cra-app/.gitignore
  app/cra-app/README.md
  app/cra-app/package.json
  app/cra-app/public/favicon.ico
  app/cra-app/public/index.html
  app/cra-app/public/logo192.png
  app/cra-app/public/logo512.png
  app/cra-app/public/manifest.json
  app/cra-app/public/robots.txt
  app/cra-app/src/App.css
  app/cra-app/src/App.test.tsx
  app/cra-app/src/App.tsx
  app/cra-app/src/index.css
  app/cra-app/src/index.tsx
  app/cra-app/src/logo.svg
  app/cra-app/src/react-app-env.d.ts
  app/cra-app/src/reportWebVitals.ts
  app/cra-app/src/setupTests.ts
  app/cra-app/tsconfig.json
  app/cra-react18/package.json
  app/cra-react18/src/App.test.tsx
  app/cra-react18/src/App.tsx
  app/cra-react18/src/react-app-env.d.ts
  app/cra-react18/src/reportWebVitals.ts
  app/cra-react18/src/setupTests.ts
  app/cra-react18/tailwind.config.js
  app/cra-react18/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: none

chore: tailwindcss配置调整
  .vscode/settings.json
  app/cra-react18/.prettierrc.json
  app/cra-react18/package.json
  pnpm-lock.yaml
Due: none

chore: eslint,prettier微调，支持styled-components的正常使用
  .vscode/extensions.json
  README.md
  app/cra-react18/.eslintrc.cjs
  app/cra-react18/.prettierrc.cjs
  app/cra-react18/.stylelintrc.cjs
  app/cra-react18/package.json
  app/cra-react18/src/components/BaseLayout/index.tsx
  app/cra-react18/src/styled.d.ts
  app/webpack-vue3/.stylelintrc.js
  app/webpack-vue3/package.json
  pnpm-lock.yaml
Due: none

fix: 部分组件和store
  app/cra-react18/package.json
  app/cra-react18/src/components/BaseLayout/index.tsx
  app/cra-react18/src/components/IconSvg/index.tsx
  app/cra-react18/src/store/hooks/auth.ts
  app/cra-react18/src/store/index.ts
  app/cra-react18/src/store/slices/auth.ts
  app/cra-react18/src/views/Home/index.tsx
  pnpm-lock.yaml
Due: none

fix: react Heaer组件完善
  app/cra-react18/src/App.tsx
  app/cra-react18/src/components/BaseLayout/BaseMenu.tsx
  app/cra-react18/src/components/BaseLayout/index.tsx
  app/cra-react18/src/store/hooks/auth.ts
Due: none

fix: 首页menu组件逻辑开发
  app/cra-react18/package.json
  app/cra-react18/src/components/BaseLayout/BaseMenu.tsx
  app/cra-react18/src/components/BaseLayout/index.tsx
  app/cra-react18/src/store/hooks/auth.ts
  app/cra-react18/src/store/hooks/index.ts
  app/cra-react18/src/store/index.ts
  app/cra-react18/src/store/slices/ui.ts
  app/cra-react18/src/styles/animation.less
  app/cra-react18/src/styles/main.less
  app/cra-react18/src/styles/reset.less
  pnpm-lock.yaml
Due: none

fix: 图片懒加载组件
  .vscode/extensions.json
  app/cra-react18/src/components/BaseLayout/BaseFooter.tsx
  app/cra-react18/src/components/BaseLayout/HotColumn.tsx
  app/cra-react18/src/components/BaseLayout/index.tsx
  app/cra-react18/src/components/LazyImage/index.tsx
  app/cra-react18/src/views/Home/index.tsx
Due: none

feat: footer组件完善,热门接口调试
  app/cra-react18/package.json
  app/cra-react18/src/assets/img/default.png
  app/cra-react18/src/components/BaseLayout/BaseFooter.tsx
  app/cra-react18/src/components/BaseLayout/HotColumn.tsx
  app/cra-react18/src/components/BaseLayout/index.tsx
  app/cra-react18/src/components/LazyImage/index.tsx
  app/cra-react18/src/hooks/async.ts
  app/cra-react18/src/index.tsx
  app/cra-react18/src/services/index.ts
  app/cra-react18/src/setupProxy.js
  pnpm-lock.yaml
Due: none

fix: 热门组件修改，stylelint微调，但是现在仍有bug
  .vscode/settings.json
  app/cra-react18/.eslintrc.cjs
  app/cra-react18/.stylelintrc.cjs
  app/cra-react18/package.json
  app/cra-react18/src/components/BaseLayout/HotColumn.tsx
  app/cra-react18/src/components/IconSvg/index.tsx
  app/cra-react18/src/components/LazyImage/index.tsx
  app/cra-react18/src/styles/main.less
  app/vite-vue3/.stylelintrc.cjs
  app/vite-vue3/package.json
  app/webpack-vue3/.stylelintrc.js
  app/webpack-vue3/package.json
  package.json
  pnpm-lock.yaml
Due: none

fix: 热门栏目完善
  .vscode/settings.json
  app/cra-react18/.stylelintrc.cjs
  app/cra-react18/src/components/BaseLayout/BaseFooter.tsx
  app/cra-react18/src/components/BaseLayout/HotColumn.tsx
  app/cra-react18/src/styles/animation.less
  app/cra-react18/src/styles/main.less
  app/cra-react18/src/styles/reset.less
  app/webpack-vue3/package.json
  app/webpack-vue3/src/App.vue
  pnpm-lock.yaml
Due: none

Path conditions:
  pnpm --filter frontend lint-fix: any of: app/frontend/src/**/*.{js,mjs,jsx,ts,tsx,vue}
  pnpm --filter frontend lint-style-fix: any of: app/frontend/src/**/*.{css,less,scss,vue}
  pnpm --filter vite-vue3 lint-fix: any of: app/vite-vue3/src/**/*.{js,mjs,jsx,ts,tsx,vue}
  pnpm --filter vite-vue3 lint-style-fix: any of: app/vite-vue3/src/**/*.{css,less,scss,vue}
  pnpm --filter backend lint-fix: any of: app/backend/src/**/*.js
